@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Monserrat;
    src: url('../fonts/Montserrat-VariableFont_wght.ttf')format("truetype");
    font-display: swap;
  }

  html {
    font-family: "Monserrat", system-ui, sans-serif;
  }
}

@layer components {
  .btn-filled {
    @apply text-xl font-medium text-snow;
    @apply bg-secondary px-8 py-4 rounded-full;
    @apply hover:bg-primary duration-150
  }

}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #C397FD white;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: #C397FD;
  border-radius: 10px;
  border: 3px solid white;
}
